.nav{
//290
    padding-top: 36px;
    padding-bottom: 40px;  
    padding-left: 15px;
    padding-right: 15px;
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (min-width: 768px){

    }
    @media (min-width: 1200px){
        max-width: 1400px;
        max-width: 1400px;
        padding-top: 81px;
        padding-bottom: 162px;
    }
}
.nav_logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 42px; 
    font-weight: 900;
    line-height: 1.2;
    .linebig::after{
        bottom: 4px;
    }
    @media (min-width: 768px){

    }
    @media (min-width: 1200px){
       
    }
}


.navigation{
    display: none;
    @media (min-width: 768px){

    }
    @media (min-width: 1200px){
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        a{
            color: var(--black);
        }
    }
}
.navigation_link{
    margin-right: 73px;
    &:last-child{
        margin-right: 0;
    }
}
.nav_social-wrap{
    display: none;
    @media (min-width: 1200px){
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
}
.nav_social_wrap-icon{
    width: 28px;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}
.nav_social-icon{
    svg{
        path{
            color: var(--black);
        }
    }
}
.in:hover,
.in:active
{
    svg{
        path{
            color: var(--blue);
        }
    }
}
.git:hover,
.git:active
{
    svg{
        path{
            color: var(--green);
        }
    } 
}
.vk:hover,
.vk:active
{
    svg{
        path{
            color: var(--darblue);
        }
    } 
}
#nav-circle{
    display: none;
    @media (min-width: 768px){

    }
    @media (min-width: 1200px){
        display: block;
        position: fixed;
        z-index: 100;
        right: 15px;
        top: 39%; 
        z-index: 300;
    }
}
#nav-circle li{
    width: 14px;
    height: 14px;
    background-color:  rgba(241, 233, 15, 0.316);
    border-radius: 50%;
    margin-bottom: 25px;
    transition: 0.5s;
}
#nav-circle li a{
    display: block;
    height: 100%;
}
#nav-circle li.active{
    background-color:  rgba(78, 29, 156, .4);
    box-shadow: 0 0 5px rgba(8, 52, 173, 0.7);
}
input, textarea{
    border-bottom: 2px solid #eaeaea;
    outline: none;
}